.Background{
  height: 100vh;
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: left;

}
.top-text{
  border-style: solid;
  margin: 0 auto;
  display:inline-block;
  padding: 0px 30px 0px 30px;
  border-radius: 10px;
  background-color: #0b56a6;
  color: white
}

.top-text2{
  border-style: solid;
  margin: 0 auto;
  display:inline-block;
  padding: 0px 30px 0px 30px;
  border-radius: 10px;
  background-color: #c70909;
  color: white

}

.top-text3{
  border-style: solid;
  margin: 0 auto;
  display:inline-block;
  padding: 0px 30px 0px 30px;
  border-radius: 10px;
  background-color: #0ba632;
  color: white
}
.count-roti{
  text-align: center;
  margin-top: 35vh;
  font-size: 70px;
  font-weight: 900;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}
.starter{
  padding: 14px 25px 14px 25px;
  font-size: 18px;
  margin-top: 21px;
  background-color: #0ba632;
  border-radius: 10px;
  color: white;
  border-style: solid;
}

.more-info{
  float: right;
  float:top;
  width: 50px;
  height:50px;
  margin-top: 20px;
  margin-right: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.information-card{
  width: 80vw; 
  background-color: #0b56a6fb;
  margin: 0 auto;
  margin-top: 16.5vh;
  padding: 30px;
  border-radius: 30px;
  color: white;
}
